

<% content_for :title do %>1080p dashboard<% end %>
<body style="background-color:#F4F9FC">
<header style="background-color:#FFFFFF">
	<h3 style="color:#176373; padding-left:60%; line-height:324%; height:17px;">Esprida LiveControl <b>Dashboard</b><h3>
	<img src="assets/logo.png" alt="Header Img"></img>
</header>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/connected-logo.png"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div class="welcome" data-id="welcome" data-view="Text" data-title="Manufacturing Site: Esprida Building 205" data-text="This dashboard shows status of all essential equipment in building 205." data-moreinfo="Protip: You can drag the widgets around!"></div> 		
	</li>

	<li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="false" data-title="Assets" data-moreinfo="Assets reporting status via LiveControl Edge"></div>
    </li>
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="helpdesktickets" data-view="Number" data-title="Help Desk Tickets" style="background-color:#00828F;"></div>
      <i class="fa fa-heart icon-background"></i>
    </li>
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
		<div data-id="weather" data-view="Weather"></div>
	</li>
	<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div class = "humidity" data-id="humidity" data-view="Number" data-suffix="%" data-title="Humidity Reading"  style="background-color:#7B20A3;"></div>
    </li>
	
	<li data-row = "3" data-col = "2" data-sizex = "1" data-sizey = "1">
		<div data-view = "Image" data-image = "/back_battery.png" style = "background-color:#8CC34B;"></div>
	</li>
	<li data-row = "3" data-col = "3" data-sizex = "1" data-sizey = "1">
		<div class="batstat" data-id = "batterystatus" data-view = "Number" data-suffix = "%" data-title = "Battery Percentage" style = "background-color:#689F39;"></div>
	</li>
	<li data-row = "3" data-col = "4" data-sizex = "1" data-sizey = "1">
		<div class="batch" data-id = "chargelevel" data-view = "Number" data-suffix = "%" data-title = "Battery Charge Level" style = "background-color:#558A2E;"></div>
	</li>
	
	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/cpu-logo.png" style="background-color:#26C7DB;"></div>
    </li>
	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div class="tempcpu" data-id="cpu-temp" data-view="Number" data-title="CPU Temp" data-suffix = "c" style="background-color:#00ACC2;"></div>
      <i class="fa icon-background"></i>
    </li>
	<li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
      <div class="fancpu" data-id="cpu-fan" data-view="Number" data-title="CPU Fan Speed" data-suffix = "rpm" style="background-color:#00828F; padding-left:30%;"></div>
      <i class="fa icon-background"></i>
    </li>
		
	<li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/voltage.png" style="background-color:#1D89E4;"></div>
    </li>
	<li data-row="5" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="ACVoltage" data-view="Graph" data-title="AC-Voltage" data-suffix = "V" style="background-color:#1665C1;"></div>
    </li>
	<li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div class="volt" data-id="12VRail" data-view="Number" data-title="12-V Rail" style="background-color:#0E4AA1;"></div>
      <i class="fa icon-background"></i>
    </li>
	
	<li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/hdd.png" style="background-color:#EE534F;"></div>
    </li>
	<li data-row="6" data-col="2" data-sizex="2" data-sizey="1">
      <div class="hdsp" data-id="hdspeed" data-view="Number" data-title="HardDisk Speed" data-suffix = "RPM" style="background-color:#F54337; padding-left:30%;"></div>
    </li>
	<li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div class="hdtemp" data-id="hdtemp" data-view="Number" data-image="/icon_memory.png" data-title="HardDisk Temperature" data-suffix = "C" style="background-color:#F34336;"></div>
      <i class="fa icon-background"></i>
    </li>
	
	<li data-row="7" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#EC407A;"></div>
    </li>
    <li data-row="7" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-title="Tweets" data-view="Comments" style="background-color:#D81A60;" data-moreinfo="Tweets tagged with #todayilearned"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>
	
	<li data-row="8" data-col="1" data-sizex="1" data-sizey="1">
      <div class="memory" data-id="synergy" data-view="Meter" data-title="Memory Utilization" data-min="0" data-max="100"   ></div>
	</li>
	<li data-row="8" data-col="2" data-sizex="3" data-sizey="1">
		<div data-id="barchart" data-view="bar" data-title = "" data-left-margin="5" data-top-margin="10" style="background-color:blanchedalmond;"></div>
	</li>	
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Change Title" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
</body>
